:root {
  --primary-color: #213555;
  --secundary-color: #3e5879;
  --accent-color: #d8c4b6;
  --background-main: #f5efe7;

  /* als je hier een font-size gebruikt, kan je vervolgens met REM variaties hierop gebruiken. Rem varieert op basis van wat er in de :root{} staat */
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

/* 
andere manieren dan px' 
px 0.26 mm
pt 0.35 mm in Word is bij voorbeeld size 12 = 12*1pt


 
EM en REM zijn relatieve sizes. 
1em = 100% van parent. Stel dat je parent in dit geval de Body is. En body heeft font-size 20px, dan is de 1em is dan 100% van 20px. oftewel 20px. 
1rem = 100% van root?



*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--background-main);
  margin: 0;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: right;
  background-color: var(--primary-color);
  padding: 20px;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  color: var(--background-main);
  text-decoration: none;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover a:active {
  color: var(--secundary-color);
}

.projectoverview {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: var(--primary-color);
  padding: 1rem;
}
.projectcard {
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  align-content: center;
  width: 20rem;
}

.projectcard img {
  width: auto;
  height: auto;
  border-radius: 1rem;
}

.projectcard P {
  font-weight: 200;
  margin-top: 1rem;
  display: inline;
}

.projectcard button {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: 0px;
  color: #f5efe7;
  padding: 1rem;
}

.projectcard button a {
  color: var(--background-main);
  text-decoration: none;
}

.projectcard button a:hover {
  color: var(--secundary-color);
}

.projectcard img {
  width: auto;
  height: auto;
  border-radius: 1rem;
}

.projectdetails {
  padding: 2rem;
  background-color: white;
  margin: 2rem;
  border-radius: 10px;
}

.section-card {
  border-radius: 1rem;
  padding: 10px;
  background-color: var(--background-main);
  color: var(--primary-color);
}

.section-card ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
}
